@model Game.Models.Player
@{
    ViewData["Title"] = "Добавить игрока";
}
<h2>Создать персонажа</h2>
<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="RegistrationDate" class="form-label"></label>
        <input asp-for="RegistrationDate" class="form-control" />
        <span asp-validation-for="RegistrationDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
    <a asp-action="Index" class="btn btn-secondary">Назад</a>
</form>